
* { 
   
    box-sizing: border-box;
}

html {
   height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

/* Clearfix */ 
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  zoom: 1;
}

/* Multi Line Clamping Text ( truncation ) */

.line__clamp {
    display: block;
    display: -webkit-box;
    
    margin: 0 auto;
    
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;  
}

/* NAVIGATION *********************************************** */ 
.nav { 
    padding: 1rem;
    /* css-tricks equidistant objects */
    /* cool technique to spread children to both sides :)  */ 
    text-align: justify;
}

/* continuation of the method */
.nav:after {
    content: '';
    width: 100%;
    display: inline-block;
}


.logo {
    display: inline-block;
    vertical-align: middle;
    /* width: 36%; */
 }


.nav__list {
display: inline-block;
vertical-align: middle;
margin-right: 1rem;
color: black;
font-weight: bold;
}


.nav__list__item {
 display: inline-block; 

}

.nav__list__item__link , 
.drop {
    padding: .618rem;
    vertical-align: middle;

}

.nav__list__item__link { 
    text-decoration: none;
    color: black;
}

.nav__list__item__link:link {

}

.nav__list__item__link:visted {

}

.nav__list__item__link:hover {
    border: solid 2px black;
   color: rgb(68, 67, 67);
}

 
.last__link:hover {
    color: rgb(83, 83, 83);
}
.last__link{
    font-weight: normal;
    color: rgb(44, 44, 44);
}
.nav__list__item__link:active {

}

.fas { 
    vertical-align: top;
}

.outlined {
    border: solid 2px black;
}



/* main *****************************************/ 

/*article //////////////// */ 
.article { 
    width: 48%;
    margin: 0 auto;
    
}

/*header //////////////// */ 
.author__picture {
    border-radius: 100px;
   
    vertical-align: middle;
}
.author__right {
    display: inline-block;
    vertical-align: middle;
}

.article__author__name { 
    display: block;
}

.article__date { 
    display: inline-block;
}

.article__tags,
.article__tags__list ,
.article__tags__list__item{
    display: inline-block;
}

/* article container //////////////// */ 

.img__cnt {
    overflow: hidden;
    height: 0;
    padding-top: 50%;
    position: relative;
}
.article__image { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



