
* { 
   
    box-sizing: border-box;
}

html {
   height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

/* Clearfix */ 
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  zoom: 1;
}

/* Multi Line Clamping Text ( truncation ) */

.line__clamp {
    display: block;
    display: -webkit-box;
    
    margin: 0 auto;
    
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;  
}

/* NAVIGATION *********************************************** */ 
.nav { 
    padding: 1.4rem;
    /* css-tricks equidistant objects */
    /* cool technique to spread children to both sides :)  */ 
    text-align: justify;
}

/* continuation of the method */
.nav:after {
    content: '';
    width: 100%;
    display: inline-block;
}


.logo {
    display: inline-block;
    vertical-align: middle;
    /* width: 36%; */
 }


.nav__list {
display: inline-block;
vertical-align: middle;
margin-right: 1rem;
color: black;
font-weight: bold;
}


.nav__list__item {
 display: inline-block; 

}

.nav__list__item__link , 
.drop {
    padding: .618rem;
    vertical-align: middle;

}

.nav__list__item__link { 
    text-decoration: none;
    color: black;
}

.nav__list__item__link:link {

}

.nav__list__item__link:visted {

}

.nav__list__item__link:hover {
    border: solid 2px black;
   color: rgb(68, 67, 67);
}

 
.last__link:hover {
    color: rgb(83, 83, 83);
}
.last__link{
    font-weight: normal;
    color: rgb(44, 44, 44);
}
.nav__list__item__link:active {

}

.fas { 
    vertical-align: top;
}

.outlined {
    border: solid 2px black;
}



/* main *****************************************/ 

/*article //////////////// */ 
.article { 
    width: 48%;
    margin: 4rem auto;
    
}

/*header //////////////// */ 
.author__picture {
    border-radius: 100px;
   margin-right: 1rem;
    vertical-align: top;
}
.author__right {
    display: inline-block;
    vertical-align: top;
}

.article__author__name { 
    display: block;
    color: #333;
    font-size: 1.15rem;
    font-weight: 300;
    text-decoration: none;
    line-height: 1.7rem;
}

.article__date { 
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    margin-top: .4rem;
    line-height: 1.7rem;
    margin-right: 2.1rem;
    vertical-align: baseline;
}

.article__tags{
    display: inline-block;
     vertical-align: baseline;
}

.article__tags::before {
    content: "\00B7";
    font-size: 3rem;
    vertical-align: bottom;    
    color: #333;
    line-height: 1.7rem;
}

.tag {
    text-decoration: none;
    color: black;
    line-height: 1.7rem;
    font-weight: 300;
    line-height: 1.7rem;
}
/* article container //////////////// */ 

.article__header {
    font-size: 3.7rem;
    font-weight: bold;
    margin-top: 2.5rem;
    line-height: 3.6rem;
}

.img__cnt {
    margin-top: 2rem;
    overflow: hidden;
    height: 0;
    padding-top: 50%;
    position: relative;
}
.article__image { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.article__short__content { 
    margin-top: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    font-size: 2rem;
}

.article__continue {
    display: inline-block;
    text-transform: uppercase;
    color: #0176FF;
    text-decoration: none;
    vertical-align: middle;   
    margin-top: .7rem;
    padding: .7rem 1.4rem;
    border: solid 1px #0176FF;
    
}

.article__continue:hover {
   background-color: #0176FF;
   color: white;
   text-decoration: underline;
   
}

.arrow__right {
    
    margin-top: -2.5px; 
    display: inline-block;
    
   
   vertical-align: middle;   
}

.arrow__right::before {
    
    vertical-align: middle;
}





